body .widget_progress_navigation_bar_present .navigation_mobile {
  .menu.index {
    right: 20px;
  }

  &.active .menu.index {
    right: 200px;
  }

  .parent_page {
    right: 70px;
  }

  &.active .parent_page {
    right: 250px;
  }
}

.navigation_mobile, .navigation_mobile > * {
  body.has_mobile_platform .widget_progress_navigation_bar_present & {
    display: block;
  }
}
