<% if home_button.enabled? %>
  <li>
    <%= link_to(home_button.url, class: "navigation_bullet navigation_home", tabindex: "2", title: "Zur Homepage") do %>
      <span class="button"></span>
      <span class="navi_hint">Startseite</span>
    <% end %>
  </li>
<% end %>
