<% if overview_button.enabled? %>
  <li class="navigation_overview_item">
    <a class="navigation_bullet navigation_index" tabindex="2" title="<%= t('pageflow.public.open_overview') %>" data-active-title="<%= t('pageflow.public.close_overview') %>">
      <span class="button"></span>
      <span class="navi_hint"><%= t('pageflow.public.overview') %></span>
    </a>
  </li>
<% end %>
