.progress_navigation_bar {
  $navigation-bar-sprite: "pageflow/themes/#{$theme-name}/menu_sprite.png" !default;

  .button, .navigation_mute, .navigation_share {
    background-image: image-url($navigation-bar-sprite);
    height: 42px;
    width: 42px;
  }

  &.horizontal.js {
    .navigation_button_area .navigation_bar_buttons li .button {
      top: 15%;
    }
  }

  $normalOffset: -30px;
  $mousedownOffset: -140px;
  $hoverOffset: -85px;
  $deactiveOffset: -195px;

  .navigation_button_area .navigation_bar_buttons:after,
  &.js .scroller:after {
    background-color: $nav-bg-color;
    opacity: 0.9;
  }

  &.js .scroller ul li {
    &.chapter_odd a.active, &.chapter_even a.active, a.active {
      background-color: $nav-color;
    }
  }

  .navigation_main {
    $main: -22px;
    .button {
      background-position: $main $normalOffset;
    }

    @include hover {
      .button {
        background-position: $main $hoverOffset;
      }
    }

    @include pressed {
      .button {
        background-position: $main $mousedownOffset;
      }
    }

    &.active {
      $mainActive: -89px;
      .button {
        background-position: $mainActive $hoverOffset;
      }

      @include hover {
        .button {
          background-position: $mainActive $hoverOffset;
        }
      }

      @include pressed {
        .button {
          background-position: $mainActive $hoverOffset;
        }
      }
    }
  }

  $home: -155px;
  .navigation_home {
    .button {
      background-position: $home $normalOffset;
    }

    @include hover {
      .button {
        background-position: $home $hoverOffset;
      }
    }

    @include pressed {
      .button {
        background-position: $home $mousedownOffset;
      }
    }
  }

  $top: -909px;
  .navigation_top {
    .button {
      background-position: $top $normalOffset;
    }

    @include hover {
      .button {
        background-position: $top $hoverOffset;
      }
    }

    @include pressed {
      .button {
        background-position: $top $mousedownOffset;
      }
    }
  }
  .navigation_top.deactivated {
    pointer-events: none;
    @include hover {
      .button {
        background-position: $top $deactiveOffset;
      }
    }
    .button {
      background-position: $top $deactiveOffset;
    }

    cursor: default;
  }

  .navigation_index {
    $index: -222px;
    .button {
      background-position: $index $normalOffset;
    }

    @include hover {
      .button {
        background-position: $index $hoverOffset;
      }
    }

    @include pressed {
      .button {
        background-position: $index $mousedownOffset;
      }
    }

    &.active .button {
      background-position: $index $hoverOffset;

      @include pressed {
        background-position: $index $mousedownOffset;
      }
    }
  }

  $fullscreen: -289px;
  .navigation_fullscreen {
    .button {
      background-position: $fullscreen $normalOffset;
    }

    @include hover {
      .button {
        background-position: $fullscreen $hoverOffset;
      }
    }

    @include pressed {
      .button {
        background-position: $fullscreen $mousedownOffset;
      }
    }
  }
  .navigation_fullscreen.active {
    .button {
      background-position: $fullscreen $hoverOffset;
    }

    @include pressed {
      .button {
        background-position: $fullscreen $mousedownOffset;
      }
    }
  }

  $hide_text: -670px;
  .navigation_hide_text {
    .button {
      background-position: $hide_text $normalOffset;
    }

    @include hover {
      .button {
        background-position: $hide_text $hoverOffset;
      }
    }

    @include pressed {
      .button {
        background-position: $hide_text -141px;
      }
    }
  }
  .navigation_hide_text.active {
    .button {
      background-position: $hide_text $hoverOffset;
    }

    @include pressed {
      .button {
        background-position: $hide_text -141px;
      }
    }
  }

  .navigation_mute {
    background-position: -355px $normalOffset;
  }
  .navigation_mute.muted {
    background-position: -489px $normalOffset;
  }
  .navigation_volume_box {
    @include hover {
      + a .navigation_mute {
        background-position: -355px $hoverOffset;
      }
    }
  }
  .navigation_volume_box {
    @include hover {
      + a .navigation_mute.muted {
        background-position: -489px $hoverOffset;
      }
    }
  }
  .navigation_share {
    background-position: -555px $normalOffset;
  }
  .navigation_share_box {
    @include hover {
      + a .navigation_share {
        background-position: -555px $hoverOffset;
      }
    }
  }
  .navigation_credits_button {
    $credits: -622px;
    .button {
      background-position: $credits $normalOffset;
    }

    @include hover {
      .button {
        background-position: $credits $hoverOffset;
      }
    }

    @include pressed {
      .button {
        background-position: $credits -141px;
      }
    }
  }
  .share_google {
    background-position: -855px -39px;
  }
  .share_twitter {
    background-position: -789px -39px;
  }
  .share_facebook {
    background-position: -718px -39px;
  }

  a {
    .navigation_mute {
      @include pressed {
        background-position: -355px $mousedownOffset;
      }

      &.muted {
        @include pressed {
          background-position: -489px $mousedownOffset;
        }
      }
    }
    .navigation_share {
      @include pressed {
        background-position: -555px $mousedownOffset;
      }
    }
    .share_google {
      @include pressed {
        background-position: -855px -145px;
      }
    }
    .share_twitter {
      @include pressed {
        background-position: -789px -145px;
      }
    }
    .share_facebook {
      @include pressed {
        background-position: -718px -145px;
      }
    }

    @include hover {
      .navigation_mute {
        background-position: -355px $hoverOffset;

        &.muted {
          background-position: -489px $hoverOffset;
        }
      }
      .navigation_share {
        background-position: -555px $hoverOffset;
      }
      .share_google {
        background-position: -855px -92px;
      }
      .share_twitter {
        background-position: -789px -92px;
      }
      .share_facebook {
        background-position: -718px -92px;
      }
    }
  }
}

.navigation_mobile {
  .background_image:after {
    background-image: image-url('pageflow/themes/#{$theme-name}/image_sprite.png');
  }
  .background_video:after {
    background-image: image-url('pageflow/themes/#{$theme-name}/image_sprite.png');
  }
  .video:after {
    background-image: image-url('pageflow/themes/#{$theme-name}/video_sprite.png');
  }
  .audio:after {
    background-image: image-url('pageflow/themes/#{$theme-name}/audio_sprite.png');
  }
  .audio_loop:after {
    background-image: image-url('pageflow/themes/#{$theme-name}/image_sprite.png');
  }
  .internal_links:after {
    background-image: image-url('pageflow/themes/#{$theme-name}/internal_links_sprite.png');
  }
  li.panorama:after {
    background-image: image-url('pageflow/themes/#{$theme-name}/panorama_sprite.png');
    width: 48px;
    background-size: 97px 100%;
    margin: 42px 78px;
    height: 33px;
  }
  li.panorama.touched:after {
    background-position: -48.5px 0;
  }
  .before_after:after {
    background-image: image-url('pageflow/before_after_sprite.png');
  }
  .chart:after {
    background-image: image-url('pageflow/chart_sprite.png');
  }
  .external_links:after {
    background-image: image-url('pageflow/external_links_sprite.png');
  }
}
