@mixin progress-navigation-bar-icons-icon-font {
  .navigation_button_area .navigation_bar_buttons {

    .navigation_bullet, .navigation_menu > a {
      position: absolute;
      text-decoration: none;

      .button {
        text-decoration: none;
        font-size: 16px;
        width: 28px;
        height: 28px;
        display: block;
        background: -webkit-linear-gradient(-75deg, rgba(255, 255, 255, 0.71), rgba(0, 0, 0, 0.32));
        box-shadow: 1px 2px 1px 0 rgba(0, 0, 0, 0.2);
        border-radius: 18px;
        color: rgba(0, 0, 0, 0.75);
        cursor: pointer;
        margin: -25px auto 0 30px;
        position: relative;
        background-color: rgb(219, 219, 219) !important;
        @include shine-gradient;

        @include pageflow-progress-navigation-bar-small-height {
          margin: -14px auto 0 30px;
        }
      }

      &:hover .button, &.active .button {
        background-color: $nav-color !important;
        -webkit-mask-image: none;
        color: rgba(255, 255, 255, 0.9);
        text-shadow: -1px -1px 1px rgba(0, 0, 0, 0.2);

        .button, .navigation_mute, .navigation_share {
          color: rgba(255, 255, 255, 0.9);
          text-shadow: -1px -1px 1px rgba(0, 0, 0, 0.2);
        }
      }

      .navi_hint {
        color: $nav-hint-color;
      }

      &:active .button {
        box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.2);
        -webkit-transform: translate(1px, 1px);
        background: linear-gradient(to bottom, rgba(0, 0, 0, 0.2) 0%, rgba(0, 0, 0, 0.2) 40%, rgba(0, 0, 0, 0.2) 100%);
      }
    }

    .button, .navigation_mute, .navigation_share {
      font-family: "FontAwesome";
      font-size: 1em;
      color: rgba(0, 0, 0, 0.75);
      text-shadow: -1px -1px 1px rgba(255, 255, 255, 0.6);

      display: inline-block;
      width: 100%;
      text-align: center;
      line-height: 28px;
      border-bottom: 0 !important;
    }

    .navigation_bullet.navigation_main {
      .button {
        @include fa-reorder-icon;
      }
    }

    .navigation_bullet.navigation_top {
      padding-top: 0;
      .button {
        border-bottom: 0;
        font-weight: bold;

        @include fa-arrow-circle-up-icon;
      }
    }

    .navigation_bullet.navigation_home {
      padding-top: 0;
      .button {
        border-bottom: 0;
        font-weight: bold;

        @include fa-home-icon;
      }
    }

    .navigation_bullet.navigation_index {
      .button {
        @include fa-th-icon;
      }
    }

    .navigation_bullet.navigation_fullscreen {
      .button {
        font-weight: bold;

        @include fa-expand-icon;
      }
    }

    .navigation_bullet.navigation_hide_text {
      .button {
        font-weight: bold;

        @include fa-photo-icon;
      }
    }

    .navigation_menu {
      .navigation_mute {
        font-weight: bold;

        @include fa-volume-up-icon;

        &.muted {

          @include fa-volume-off-icon;
        }
        &.muted:before {
          margin-right: 2px;
        }
      }
    }

    .navigation_menu {
      .navigation_share {
        font-weight: bold;

        @include fa-share-icon;

        &:before {
          margin-left: 1px;
        }
      }
    }

    .navigation_menu {
      .navigation_credits {
        font-weight: bold;

        @include fa-info-icon;
      }
    }

    .share_google, .share_facebook, .share_twitter {
      font-size: 1.5em;
      &:before {
        font-family: "FontAwesome";
        color: white;
        text-shadow: none;
      }
    }

    .share_google {
      @include fa-google-plus-icon;
    }
    .share_facebook {
      @include fa-facebook-icon;
    }
    .share_twitter {
      @include fa-twitter-icon;
    }
  }
}
